.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  grid-area: form;
}

.form-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
}

.form-textarea {
  border: 1px solid #141414;
  padding: 0.3rem;
}

.form-input-container,
.form-counter-actions,
.form-select-container,
.form-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  border-radius: 10px;
}

.form-select-container {
  padding: 0.1rem;
  height: 2rem;
}

.form-input-container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

.form-input-container input {
  border: 1px solid #141414;
  padding: 0.3rem;
  border-radius: 10px;
}

.form-counter-actions {
  display: flex;
  flex-direction: column;
  height: 14rem;
  padding: 3rem;
  border: 1px solid #141414;
  gap: 0.5rem;
}

.form-counter-actions button {
  height: 2rem;
  width: 10rem;
}

.reset-button {
  grid-area: reset;
  justify-self: center;
}

.reset-button,
.submit-button,
.change-counter-button {
  width: 4rem;
  height: 2.5rem;
  border: 1px solid #14141441;
  background-color: #fff;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.reset-button:hover,
.submit-button:hover,
.change-counter-button:hover {
  border: 1px solid #3498db;
  color: #3498db;
}