.site-layout 
.site-layout-background,
.ant-layout-content {
    position: relative;
}

.site-layout 
.site-layout-background,
.ant-layout-content {
    background: #ffffff;
}

.ant-layout-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-layout-footer 
p {
    margin-bottom: 0;
}

.ant-layout-footer 
.copyright-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ant-layout-footer 
.copyright-links
i {
    font-size: 1.5rem;
    color: #000000;
}

.ant-layout-footer 
.copyright-links
i:hover {
    opacity: 0.7;
}

.scroll-to-top-button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 100% !important;
    box-shadow: 7px 4px 30px 6px rgba(34, 60, 80, 0.2) !important;
    font-size: 1.2rem;
    bottom: 80px !important;
    transition: all 0.2s ease-in-out;
}

.scroll-to-top-button:hover {
    transform: scale(110%);
}