.modal-container {
    display: none;
    width: 100%;
    height: 100%;
}

.modal-container.show {
    display: block;
}

.modal {
    flex-direction: column;
    position: fixed;
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    box-shadow: 24px 19px 8px 0px rgba(34, 60, 80, 0.2);
}

.modal[data-type='alert'] {
    background-color: #ffafcc;
}

.modal[data-type='success'] {
    width: 20rem;
    height: 10rem;
    background-color: #9edaff;
}

.modal div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.modal .modal-actions {
    width: 20rem;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.modal .modal-actions button {
    display: block;
    width: 8rem;
}