.layout-header {
    display: flex;
    height: 5rem;
    width: 100%;
}

.nav-panel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 1rem;
    transition: none;
}

.nav-panel .action-button {
    height: 5rem;
    width: 10rem;
}

.active-page {
    border-bottom: 4px solid #3498db;
    transition: border-bottom 0.5s ease;
}

.toggle-switches-container {
    gap: 1rem;
}

.toggle-switches-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    text-align: center;
}

.switch {
    width: 2rem;
}