.layout-header {
    display: flex;
    height: 5rem;
    width: 100%;
}

.layout-header
.nav-panel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 1rem;
    transition: none;
}

.layout-header
.nav-panel
.links-container 
.action-button {
    height: 5rem;
    width: 10rem;
}

.layout-header
.nav-panel
.links-container 
.active-page {
    border-bottom: 4px solid #3498db;
    transition: border-bottom 0.5s ease;
}

.layout-header
.nav-panel
.login-buttons-container {
    margin-right: 1rem;
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.layout-header
.nav-panel
.fa-solid {
    margin-left: 0.5rem;
}

.layout-header
.nav-panel
.user-block-container {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
}

.layout-header
.nav-panel
.user-block-container
.fa-circle-user {
    opacity: 1;
    font-size: 1.9rem;
}

.layout-header
.nav-panel
.user-block-container
.fa-circle-user:hover {
    opacity: 0.7;
}

.layout-header
.nav-panel
.user-block-container
.user-actions {
    display: none;
}

.layout-header
.nav-panel
.user-block-container
.user-actions.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    top: 175%;
    left: -230%;
    width: 10rem;
    height: 14rem;
    padding: 1rem 1rem;
    user-select: none;
    gap: 1rem;
}

.layout-header
.nav-panel
.user-block-container
.user-actions
h2 {
    font-size: 1rem;
}

.layout-header
.nav-panel
.user-block-container
.user-actions
.fa-circle-user {
    opacity: 1;
    font-size: 3rem;
}

.layout-header
.nav-panel
.settings-container {
    position: relative;
}

.layout-header
.nav-panel
.settings-container
.fa-sliders {
    font-size: 2rem;
    opacity: 1;
    margin-right: 4rem;
}

.layout-header
.nav-panel
.settings-container
.fa-sliders:hover {
    opacity: 0.7;
}

.layout-header
.nav-panel
.settings-container
.switches-container {
    display: none;
}

.layout-header
.nav-panel
.settings-container
.switches-container.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    border: 1px solid #000000;
    top: 165%;
    left: -80%;
    border-radius: 10px;
    width: 12rem;
    height: 10rem;
    padding: 0.5rem 1rem;
    user-select: none;
    gap: 1rem;
}

.layout-header
.nav-panel
.settings-container
.switches-container  
div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.layout-header
.nav-panel
.settings-container
.switches-container  
div
p {
    margin-bottom: 0;
}

.layout-header
.nav-panel
.settings-container
.switches-container 
.switch {
    width: 2rem;
}