.overlay {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.overlay.show {
    visibility: visible;
    display: block;
    opacity: 1;
    overflow: hidden;
    background-color: #cdcdcdb8;
}