@import '~antd/dist/antd.css';
@import './theme_styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: auto;
  flex-direction: column;
  background: #f0f2f5;
  min-height: 100vh;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 40rem;
  height: 20rem;
  border-radius: 2rem;
  background-color: #56a7dd;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.modal-container div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.modal-container .modal-actions {
  margin-left: auto;
  width: 8rem;
  height: 3rem;
}

.modal-container .modal-actions button {
  display: block;
}

.site-layout.vertical,
.ant-layout-footer.vertical {
  padding-left: 10rem;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-weight: 200;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.active-page {
  border-bottom: 4px solid #3498db;
  transition: border-bottom 0.5s ease;
}

.site-layout .site-layout-background {
  position: relative;
}

.site-layout .site-layout-background,
.ant-layout-content {
  background: #ffffff;
}

.ant-layout-content {
  position: relative;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 10rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: rotate 2s linear infinite;
}

.products-container {
  display: flex;
  justify-content: space-around;
}

.products-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.results-container {
  width: 20rem;
  word-wrap: break-word;
}

.input-container,
.counter-actions,
.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
}

.input-container label,
.textarea-container label {
  width: 5rem;
}

.input-container input {
  border: 1px solid #141414;
  border-radius: 10px;
  padding: 0.3rem;
  width: 11rem;
  height: 2rem;
}

.counter-actions {
  padding: 1rem;
  border: 1px solid #141414;
  gap: 0.5rem;
}

.counter-actions button {
  height: 2rem;
  width: 10rem;
}

.updateBtn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.updateBtn {
  margin: 2rem 0;
  padding: 0.5rem;
}

.submit-button {
  width: 7rem;
  height: 4rem;
  background-color: rgba(0, 255, 255, 0.318);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgba(0, 255, 255, 0.708);
}

.reset-button {
  width: 4rem;
  height: 2.5rem;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  border: 1px solid #14141441;
  background-color: #fff;
  z-index: 10;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.reset-button:hover {
  border: 1px solid #3498db;
  color: #3498db;
}

.clock {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}