@import '~antd/dist/antd.css';
@import './contexts/themeContext/styles.css';
@import './contexts/orientationContext/styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-purple: #7209b7;
  --color-aqua: #3dbbd438;
  --color-turk: #2a9d8f;
  --color-blue: #219ebc;
}

#root {
  display: flex;
  flex: auto;
  flex-direction: column;
  background: #f0f2f5;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-weight: 400;
}

hr {
  height: 1px;
  background-color: var(--color-aqua);
  border: none;
}

.blocked {
  opacity: 0.4;
  pointer-events: none;
  cursor: wait;
}

.highlight-purple {
  color: var(--color-purple)
}

.highlight-turk {
  color: var(--color-turk)
}

.highlight-blue {
  color: var(--color-blue)
}

.flex-all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}