@import '~antd/dist/antd.css';
@import './theme_styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #ff0000;
  --color-green: #00ff11;
  --color-aqua: #3dbbd438;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-weight: 400;
}

hr {
  height: 1px;
  background-color: var(--color-aqua);
  border: none;
}

.highlight-red {
  color: var(--color-red)
}

.highlight-green {
  color: var(--color-green)
}

.flex-all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex: auto;
  flex-direction: column;
  background: #f0f2f5;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}

#root.disabled * {
  pointer-events: none;
  user-select: none;
  opacity: 0.3;
}

body.disabled {
  overflow-y: hidden;
}

#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#modal.show {
  opacity: 1;
}

.modal-container {
  flex-direction: column;
  position: fixed;
  width: 30rem;
  height: 15rem;
  border-radius: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  z-index: 1;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: 24px 19px 8px 0px rgba(34, 60, 80, 0.2);
}

.modal-container[data-type='alert'] {
  background-color: #ff8181;
}

.modal-container[data-type='success'] {
  width: 20rem;
  height: 10rem;
  background-color: #9edaff;
}

.modal-container.hidden {
  display: none;
  opacity: 0;
}

.modal-container div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.modal-container .modal-actions {
  width: 20rem;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.modal-container .modal-actions button {
  display: block;
  width: 8rem;
}

.site-layout.vertical,
.ant-layout-footer.vertical {
  padding-left: 10rem;
}

.layout-header {
  height: 5rem;
  width: 100%;
  display: flex;
}

.layout-header.vertical {
  height: 0;
}

.nav-panel {
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  transition: none;
}

.nav-panel.vertical {
  left: 0;
  width: 10rem;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  height: 100%;
  padding-bottom: 2rem;
  transition: none;
  padding-right: 0;
  background-color: #f0f2f5;
}

.nav-panel.vertical .nav-orientation-btn {
  width: 10rem;
}

.links-container,
.toggle-buttons,
.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-buttons {
  gap: 1rem;
}

.links-container.vertical {
  flex-direction: column;
}

.toggle-buttons.vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggle-btn {
  margin-left: auto;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10rem;
  width: 8rem;
  padding: 0.1rem;
  height: 3.8rem;
  cursor: pointer;
  transition: 0.2s 0.1s ease-in-out;
}

.toggle-btn:hover {
  color: rgba(0, 213, 213, 0.685);
  border-color: rgba(0, 213, 213, 0.685);
}

.active-page {
  border-bottom: 4px solid #3498db;
  transition: border-bottom 0.5s ease;
}

.site-layout .site-layout-background {
  position: relative;
}

.site-layout .site-layout-background,
.ant-layout-content {
  background: #ffffff;
}

.ant-layout-content {
  position: relative;
}

.action {
  height: 5rem;
  width: 10rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: rotate 2s linear infinite;
}

.accordion {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.accordion-item {
  width: 25rem;
  height: max-content;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--color-aqua);
}

.accordion-title:hover {
  background-color: #40c3dd84;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: rgba(0, 213, 213, 0.311);
  max-height: 20rem;
}

.form-container {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "form results"
    "reset submit";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form,
.results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  grid-area: form;
}

.input-container,
.counter-actions,
.textarea-container,
.form-select,
.form-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
}

.input-container label,
.textarea-container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

.results-container {
  grid-area: results;
}

.results-container > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  word-wrap: break-word;
  margin-bottom: 0;
}

.results-container p > span {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.value {
  width: 167.59px;
  height: 33.59px;
  min-height: 2rem;
  display: block;
  text-align: center;
}

.input-container input,
.form-select,
.form-textarea,
.value {
  border: 1px solid #141414;
  border-radius: 10px;
  padding: 0.3rem;
}

.counter-actions {
  padding: 1rem;
  border: 1px solid #141414;
  gap: 0.5rem;
}

.counter-actions button {
  height: 2rem;
  width: 10rem;
}

.update-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.update-button {
  margin: 2rem 0;
  padding: 0.5rem;
}

.form-input {
  display: flex;
  margin-bottom: 1rem;
  border: 1px solid black;
  margin: 0 0 16px;
  width: 160px;
  height: 26px;
  border-radius: 2px;
  padding: 0.1rem;
}

.submit-button {
  grid-area: submit;
}

.reset-button {
  grid-area: reset;
  justify-self: right;
}

.reset-button,
.submit-button {
  width: 4rem;
  height: 2.5rem;
  border: 1px solid #14141441;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.reset-button:hover,
.submit-button:hover {
  border: 1px solid #3498db;
  color: #3498db;
}

.clock {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}