.dark {
    background-color: #1d1d1d;
}

.dark,
.nav-panel.dark .links-container .action,
.site-layout.dark * {
    color: #ffffff;
}

.nav-panel.vertical.dark,
.site-layout.dark .counter-actions * {
    background-color: #1d1d1d;
}

.site-layout.dark input,
.site-layout.dark textarea,
.site-layout.dark select,
.site-layout.dark .counter-actions,
.layout-header.dark .toggle-btn,
.site-layout.dark .reset-button,
.site-layout.dark .value {
    background-color: #1d1d1d;
    border: 1px solid #ffffff;
}

.nav-panel.dark .links-container .action {
    background: #141414;
}

.site-layout.dark,
.site-layout.dark * {
    background-color: #090909;
}

.site-layout.dark input,
.site-layout.dark textarea,
.site-layout.dark select {
    border: 1px solid #ffffff;
}