.user-profile-section {
    border-radius: 10px;
    width: 25rem;
    margin: 1.5rem auto 0 auto;
    border: 1px solid var(--color-purple);
    padding: 1rem;
}

.user-profile-section
h2 {
    font-size: 1rem;
}

.user-profile-section
.form-main-container {
    margin: 2rem auto 0 auto;
    width: 100%;
}

.user-profile-section
.fa-circle-user {
    display: block;
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}

.user-profile-section
.form-input-container
.button {
    margin-left: 1rem;
}

.user-profile-section
.form-actions {
    display: flex;
    height: max-content;
}

.user-profile-section
.unsigned-message {
    padding: 3rem;
}