.accordion-item {
    width: 25rem;
    height: max-content;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--color-aqua);
}

.accordion-title * {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.accordion-title:hover {
    background-color: #40c3dd84;
}

.accordion-title,
.accordion-content {
    padding: 1rem 1rem 1rem 2rem;
}

.accordion-content {
    background-color: rgba(0, 213, 213, 0.311);
    max-height: 20rem;
}

.accordion-content ul li {
    padding-bottom: 0.3rem;
}